<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../libraries/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../libraries/css/fontAwesome5-14.min.css">
    <link rel="stylesheet" href="../../libraries/css/cryptofont.css">
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
    
    <header>
        <div class="dashboard-header">
            <div class="container">
                <div class="navbar navbar-expand-lg d-flex justify-content-between">
                    <a class="mr-auto" href="#/dashboard">
                        <img src="https://via.placeholder.com/200x60?=logo" alt="Este es el logo de la pag">
                    </a>
                    <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                    </button>
                    <div class="cotizacion d-flex justify-content-between">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <span>DAI/ARS</span>
                            <div>
                                <span>123</span>
                                <span>123</span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <span>DAI/USD</span>
                            <div>
                                <span>1.006</span>
                                <span>1.001239</span>
                            </div>
                        </div>
                            
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <span>BTC/ARS</span>
                            <div>
                                <span>41515</span>
                                <span>3546546132</span>
                            </div>
                        </div>
                    </div>
                    <div class="criptoUser collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a id="nombreDelUsuarioCripto" class="nav-item dropdown-toggle" data-toggle="dropdown" data-target="desplegable2" href="#">Nicolás Gomez</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#/dashboard/perfil">Mi Perfil</a>
                                    <a class="dropdown-item" href="#/ayuda">Ayuda</a>
                                    <button id="btn-sign-out" class="dropdown-item">Cerrar sesión</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        
    </header>
    
    <main>
        <div class="dashboard-content">
            <div class="container-fluid d-flex">
                <div class="dashboard-content-aside">
                    <ul>

                        <li><a href="#/dashboard"><i class="fas fa-home"></i> Inicio</a></li>

                        <li>
                            <a href="#/dashboard/depositos-y-retiros"><i class="fas fa-piggy-bank"></i>Ingresar y retirar</a>
                            <ul>
                                <li><a href="#/dashboard/depositos-y-retiros/ingresar/ars"><i class="fas fa-dollar-sign"></i>Pesos</a></li>
                                <li><a href="#/dashboard/depositos-y-retiros/ingresar/usd"><i class="fas fa-dollar-sign"></i>Dólares</a></li>
                                <li><a href="#/dashboard/depositos-y-retiros/ingresar/dai"><i class="cf cf-dai"></i>DAI</a></li>
                                <li><a href="#/dashboard/depositos-y-retiros/ingresar/btc"><i class="cf cf-btc"></i>Bitcoin</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="#/dashboard/operar"><i class="fas fa-handshake"></i>Operar</a>
                            <ul>
                                <li><a href="#/dashboard/operar/compra/daiars">DAI / ARS</a></li>
                                <li><a href="#/dashboard/operar/compra/daiusd">DAI / USD</a></li>
                                <li><a href="#/dashboard/operar/compra/bitcoinars">BTC / ARS</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div class="dashboard-content-operar">
                    <div class="ingresar-y-retirar-noCripto">
                        <div class="ingresar-o-retirar">
                            <a href="#/dashboard/depositos-y-retiros/ingresar/ars">Ingresar</a>
                            <a class="active-link" href="#/dashboard/depositos-y-retiros/retirar/ars">Retirar</a>
                        </div> 
                        
                        <div class="ingresar-o-retirar-noCripto">
                            <div class="ingresar-o-retirar-noCripto-operacion">
                                <h2>¿Cuánto dólares deseas retirar de tu cuenta?</h2>
                                <div class="ingresar-o-retirar-noCripto-input d-flex flex-column">
                                    <label for="ingresarPesos">Insertar cantidad de dólares</label>
                                    <input type="text" name="ingresarPesos" id="ingresarPesos" placeholder="Por ej: 68">
                                    <label for="cbu">Insertar tu CBU o ALIAS de tu caja de ahorro en DÓLARES</label>
                                    <input type="text" name="cbu" id="cbu" placeholder="Por ej: 1430001713000035540010">
                                </div>
                                <button type="submit">Retirar dólares</button>
                            </div>

                            <div class="mensaje-de-exito bg-success">
                                <p>Ya tendrías que tener los dólares acreditados en tu cuenta bancaria.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>

    </main>
    <footer>
        <div class="dashboard-footer">
            <span class="footer-text d-flex justify-content-center align-items-center">2020 © CriptoCoins. Todos los derechos reservados</span>
        </div>
    </footer>


    <script src="../../libraries/js/jquery.min.js"></script>
    <script src="../../libraries/js/popper.min.js"></script>
    <script src="../../libraries/js/bootstrap.min.js"></script>
    <script src="../../libraries/js/wow.min.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script defer src="../../js/init-libraries.js"></script>
    <script defer type="module" src="../../js/main.js"></script>
    <script defer type="module" src="../../router/index.routes.js"></script>
</body>
</html>