.definition{
    background-color: map-get($colors, tertiary);
    position: relative;
    padding: 50px 0;

    //propiedades de líneas principales
    .central-line{
        animation: centralLine 10s linear;
        background-image: linear-gradient(to bottom, map-get($colors, quaternary), map-get($colors, quaternary));
        background-repeat: no-repeat;
        background-position: 100% -100%;
        height: 1025px;
        left: 50%;
        position: absolute;
        width: 15px;

        .circle-line{
            width: 50px;
            height: 50px;
            border-radius:50%;
            background-color: map-get($colors, quaternary);
            position: absolute;
            right: -120%;
            box-shadow: 2px 4px 10px black;

            .left-line{
                animation: leftLine 1s linear forwards;
                animation-delay: 6.2s;
                background-image: linear-gradient(to bottom, map-get($colors, quaternary), map-get($colors, quaternary));
                background-repeat: no-repeat;
                background-position: 100% 100%;
                background-size: 0 0;
                height: 15px;
                right: 50%;
                position: absolute;
                width: 245px;
                top: 540%;

                .right-line{
                    animation: rightLine 1s linear forwards;
                    animation-delay: 8s;
                    background-image: linear-gradient(to bottom, map-get($colors, quaternary), map-get($colors, quaternary));
                    background-repeat: no-repeat;
                    background-position: -100% 100%;
                    background-size: 0 0;
                    height: 15px;
                    left: 100%;
                    position: absolute;
                    width: 227.9px;
                    top: 3140%;
                }
                
            }
        }
    }

    //propiedades del texto e imágenes
    .definition-card{
        &:nth-child(1){
            margin-top: 30px;
        }
        background-color: map-get($colors, secondary);
        border: 2px rgba(#000000, 0.2) solid;
        border-radius: 20px;
        box-shadow: 2px 4px 10px rgba(#000000, 0.2);
        color: map-get($colors, primary);
        font-weight: 800;
        margin-bottom: 10px;
        max-width: 320px;
        padding: 10px 20px;
        text-align:center;
        
        p{
            font-weight: 500;
        }
        
    }

    .bitcoin-image{
        animation: bitcoinGiro 3.5s linear infinite;
        background-image: url("../resources/images/bitcoin.png");
        background-size: 150px;
        background-repeat: no-repeat;
        background-position: center;
        width: 366px;
        height: 366px;
        transform: rotate3d(0, 5, 6, 38deg);
    }

    .criptos-image{
        animation: bitcoinGiro 3.5s linear infinite;
        background-image: url("../resources/images/criptos.png");
        background-size: 150px;
        background-repeat: no-repeat;
        background-position: center;
        width: 366px;
        height: 366px;
        transform: rotate3d(0, 5, 6, 38deg);
    }

    //animación y propiedades de las líneas de las cards de cripto

    .criptos-lines{
        position: relative; 
        

        .cripto-line1{
            animation: criptoLineVertical linear 1s forwards;
            animation-delay: 10s;
            background-image: linear-gradient(map-get($colors, quaternary), map-get($colors, quaternary));
            background-size: 0;
            background-repeat: no-repeat;
            height: 80px;
            left: 50%;
            position: absolute;
            width: 15px;

            .cripto-line2{
                animation: criptoLineHorizontal linear 2s forwards;
                animation-delay: 11s;
                background-image: linear-gradient(map-get($colors, quaternary), map-get($colors, quaternary));
                background-size: 0 0;
                background-repeat: no-repeat;
                height: 15px;
                width: 620px;
                position: absolute;
                top: 100%;
                left: -2030%;

                .cripto-lines-again{
                    animation: criptoLineVerticalItem linear 1s forwards;
                    animation-delay: 11.7s;
                    background-image: linear-gradient(map-get($colors, quaternary), map-get($colors, quaternary));
                    background-size: 0;
                    background-repeat: no-repeat;
                    background-position: 100% -100%;
                    height:54px;
                    width: 15px;
                    position: absolute;
                    top: 100%;
                    left: 0%;

                    &:nth-child(2){
                        left: 19%;
                    }
                    &:nth-child(3){
                        left: 38%;
                    }
                    &:nth-child(4){
                        left: 58%;
                    }
                    &:nth-child(5){
                        left: 77.5%;
                    }
                    &:nth-child(6){
                        left: 97.6%;
                    }
                }
            }
        }
    }
}

    .card-criptos{
        .card-cripto{
            background-color: rgb(240, 240, 240);
            box-shadow: 2px 4px 10px black;
            width: 100px;
            margin: 10px;
            margin-top: 150px;

            i{
                font-size: 3rem;
                color: black;
                margin: 10px 0;
            }

            span{
                font-size: 1rem;
                font-weight: 800;
            }
        }
    }

@keyframes centralLine{
    from{
        background-size: 0 0;
    }
    to{
        background-size: 15px 100%;
    }
}
@keyframes leftLine{
    from{
        background-size: 0 0;
    }
    to{
        background-size: 100% 15px;
    }
}
@keyframes rightLine{
    from{
        background-size: 0 0;
    }
    to{
        background-size: 100% 15px;
    }
}

@keyframes bitcoinGiro{
    from{
        transform: rotate3d(0, 2, .5, 0deg)
    }
    to{
        transform: rotate3d(0, 2, .5, 360deg)
    }
}

@keyframes criptoLineVertical {
    from{
        background-size: 100% 0;
    }
    to{
        background-size: 100% 100%;
    }
}
@keyframes criptoLineHorizontal {
    0%{
        background-size: 0 100%;
        background-position: 51% 100%;
    }
    
    50%{
        background-size: 100% 100%;
    }
    100%{
        background-size: 100% 100%;
        background-position: 0% 100%;
    }
}

@keyframes criptoLineVerticalItem{
    from{
        background-size: 100% 0;
    }
    to{
        background-size: 100% 100%;
    }
}