<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../libraries/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libraries/css/fontAwesome5-14.min.css">
    <link rel="stylesheet" href="../libraries/css/cryptofont.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    
    <header>
        <div class="dashboard-header">
            <div class="container">
                <div class="navbar navbar-expand-lg d-flex justify-content-between">
                    <a class="mr-auto" href="../../index.html">
                        <img src="https://via.placeholder.com/200x60?=logo" alt="Este es el logo de la pag">
                    </a>
                    <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                    </button>
                    <div class="cotizacion d-flex justify-content-between">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <span>DAI/ARS</span>
                            <div>
                                <span>123</span>
                                <span>123</span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <span>DAI/USD</span>
                            <div>
                                <span>1.006</span>
                                <span>1.001239</span>
                            </div>
                        </div>
                            
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <span>BTC/ARS</span>
                            <div>
                                <span>41515</span>
                                <span>3546546132</span>
                            </div>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a id="nombreDelUsuarioCripto" class="nav-item dropdown-toggle" data-toggle="dropdown" data-target="desplegable2" href="#"></a>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item">Mi Perfil</button>
                                    <button class="dropdown-item">Configuración</button>
                                    <button class="dropdown-item">Ayuda</button>
                                    <button id="btn-sign-out" class="dropdown-item">Cerrar sesión</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    
    <main>
    </main>
    <footer>
        <span class="footer-text d-flex justify-content-center align-items-center">2020 © CriptoCoins. Todos los derechos reservados</span>
    </footer>


    <script src="../libraries/js/jquery.min.js"></script>
    <script src="../libraries/js/popper.min.js"></script>
    <script src="../libraries/js/bootstrap.min.js"></script>
    <script src="../libraries/js/wow.min.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script defer src="../js/init-libraries.js"></script>
    <script defer src="../js/dashboard.js"></script>
</body>
</html>