<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar cuenta | Cripto Coins</title>
    <link rel="stylesheet" href="../libraries/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libraries/css/fontAwesome5-14.min.css">
    <link rel="stylesheet" href="../libraries/css/cryptofont.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <div class="menu-header">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg d-flex justify-content-between">
                    <a class="header-logo d-flex align-items-center" href="../index.html">
                        <img src="https://via.placeholder.com/200x60?=logo" alt="Este es el logo de la pag">
                    </a>
                    <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-item dropdown-toggle" data-toggle="dropdown" data-target="desplegable" href="../index.html">Inicio</a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-item">
                                        <a href="../index.html">¿Qué es cripto?</a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a href="../index.html"> Sobre nosotros</a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a href="../index.html">Paso a paso</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item"><a href="../index.html">Descargá la app</a></li>
                            <li class="nav-item"><a href="../index.html">Contacto</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-item dropdown-toggle" data-toggle="dropdown" data-target="desplegable2" href="#">Ingresar/Registrarse</a>
                                <div class="dropdown-menu">
                                    <form class="dropdown-item" action="./login.html">
                                        <button type="submit">Iniciar sesión</button>
                                    </form>
                                    <form class="dropdown-item" action="./register.html">
                                        <button type="submit">Crear cuenta</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="login d-flex justify-content-center align-items-center flex-column">
            <div class="container d-flex justify-content-center align-items-center">
                <div class="login-container">
                    <div class="login-container-text d-flex flex-column justify-content-center">
                        <h1>Crear cuenta</h1>
                        <span>Ingrese sus datos para crear su cuenta en Cripto Coins</span>
                    </div>
                    <div>
                        <form id="formularioRegister" class="login-container-form d-flex flex-column" action="" method="POST">

                            <div class="login-container-form-item" id="formRegister-item-nombre">
                                <label for="nombreDeUsuario">Nombre</label>
                                <div class="login-container-form-item-input">
                                    <input value="Nicolás" required type="text" name="nombreDeUsuario" id="nombreDeUsuario" placeholder="Ingresá tu nombre. Ejemplo: Pepe">
                                    <i class="login-container-form-item-input-i far fa-times-circle"></i>
                                </div>
                                <p class="login-container-form-item-p">Ingresá un nombre válido, por favor.</p>
                            </div>

                            <div class="login-container-form-item" id="formRegister-item-apellido">
                                <label for="apellidoDeUsuario">Apellido</label>
                                <div class="login-container-form-item-input">
                                    <input value="Gomez" required type="text" name="apellidoDeUsuario" id="apellidoDeUsuario" placeholder="Ingresá tu apellido. Ejemplo: Quiroga">
                                    <i class="login-container-form-item-input-i far fa-times-circle"></i>
                                </div>
                                <p class="login-container-form-item-p">Ingresá un apellido válido, por favor</p>
                            </div>

                            <div class="login-container-form-item" id="formRegister-item-dni">
                                <label for="dniDeUsuario">DNI</label>
                                <div class="login-container-form-item-input">
                                    <input value="42264284" required type="text" name="dniDeUsuario" id="dniDeUsuario" placeholder="Ingresá tu DNI. Ejemplo: 34153167">
                                    <i class="login-container-form-item-input-i far fa-times-circle"></i>
                                </div>
                                <p class="login-container-form-item-p">Lo sentimos, ese DNI no es válido.</p>
                            </div>

                            <div class="login-container-form-item" id="formRegister-item-email">
                                <label for="emailDeUsuario">Email</label>
                                <div class="login-container-form-item-input">
                                    <input value="nicx_g@hotmail.com" required type="email" name="emailDeUsuario" id="emailDeUsuario" placeholder="Ingresá tu email. Ejemplo: pepequiroga@gmail.com">
                                    <i class="login-container-form-item-input-i far fa-times-circle"></i>
                                </div>
                                <p class="login-container-form-item-p">Ingresá un email válido, por favor.</p>
                            </div>

                            <div class="login-container-form-item" id="formRegister-item-password">
                                <label for="passwordDeUsuario">Contraseña</label>
                                <div class="login-container-form-item-input">
                                    <input value="tumama" required type="password" name="passwordDeUsuario" id="passwordDeUsuario" placeholder="ingrese su contraseña">
                                    <i class="login-container-form-item-input-i far fa-times-circle"></i>
                                </div>
                                <p class="login-container-form-item-p">Ingresá una contraseña mayor a 6 carácteres, por favor.</p>
                            </div>

                            <div class="login-container-form-item" id="formRegister-item-password2">
                                <label for="password2DeUsuario">Repetir Contraseña</label>
                                <div class="login-container-form-item-input">
                                    <input value="tumama" required type="password" name="password2DeUsuario" id="password2DeUsuario" placeholder="ingrese su contraseña">
                                    <i class="login-container-form-item-input-i far fa-times-circle"></i>
                                </div>
                                <p class="login-container-form-item-p">Las contraseñas tienen que ser iguales.</p>
                            </div>

                            <div class="login-container-form-item" id="formRegister-item-telefono">
                                <label for="telefonoDeUsuario">Número de teléfono</label>
                                <div class="login-container-form-item-input">
                                    <input value="6545643216" required type="text" name="telefonoDeUsuario" id="telefonoDeUsuario" placeholder="Ingrese su número de teléfono. Ejemplo: 1125478451">
                                    <i class="login-container-form-item-input-i far fa-times-circle"></i>
                                </div>
                                <p class="login-container-form-item-p">Ese número de teléfono no es válido.</p>
                            </div>
                    
                            <div class="login-container-form-item form-checkbox">
                                <label>
                                    <input id="checkboxTerms" type="checkbox">Acepto los <a href="#">términos y condiciones</a>
                                </label>
                            </div>

                            <div class="login-container-form-item form-submit">
                                <input type="submit" value="Enviar">
                                <p class="login-container-form-item form-submit-okay">Tu cuenta ya ha sido creada. ¡Te enviamos un email para que verifiques la cuenta! Puede que tarde unos minutos, tené paciencia. Serás redigirido automáticamente para que ingreses a la plataforma.</p>
                                <p class="login-container-form-item form-submit-error">Hay un error en el formulario o la cuenta ya existe, intente nuevamente</p>
                            </div>
                    
                            <div class="login-container-form-text d-flex flex-column">
                                <span>¿Ya tenés una cuenta? <a href="./login.html">Iniciar sesión</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="container d-flex flex-column">
                <div class="footer-container-sections d-flex justify-content-around">
                    <div class="footer-container-sections-item">
                        <h5>Cuenta</h5>
                        <ul>
                            <li><a href="./register.html">Crear cuenta</a></li>
                            <li><a href="./login.html">Iniciar sesión</a></li>
                            <li><a href="#">Trading</a></li>
                            <li><a href="#">Depósitos</a></li>
                            <li><a href="#">Retiros</a></li>
                            <li><a href="#">Seguridad de la cuenta</a></li>
                        </ul>
                    </div>

                    <div class="footer-container-sections-item">
                        <h5>General</h5>
                        <ul>
                            <li><a href="#">Estado del sitio</a></li>
                            <li><a href="#">Comisiones</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>

                    <div class="footer-container-sections-item">
                        <h5>Legal</h5>
                        <ul>
                            <li><a href="#">Términos y Condiciones</a></li>
                            <li><a href="#">Política de privacidad</a></li>
                            <li><a href="#">Política de Cookies</a></li>
                            <li><a href="#">Riesgo de mercado</a></li>
                        </ul>
                    </div>
                </div>
            
                <div class="autor align-self-center">
                    <span>This page was made with ❤️ by <a href="https://github.com/nicx-g" target="_blank">nicx-g</a></span>
                </div>
            </div>
        </div>
    </footer>

    <script src="../libraries/js/jquery.min.js"></script>
    <script src="../libraries/js/popper.min.js"></script>
    <script src="../libraries/js/bootstrap.min.js"></script>
    <script src="../libraries/js/wow.min.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script defer src="../js/init-libraries.js"></script>
    <script defer src="../js/register.js"></script>
    <!-- <script defer src="../JSDePrueba/pruebas5.js"></script> -->
</body>
</html>