.about-us{
    background-image: linear-gradient(135deg, map-get($colors, primary) 90%, map-get($colors, tertiary) 5%);
    background-size: cover;
    background-position: 100%;

    &-text{
        
        h3{
            color: map-get($colors, secondary);
            font-size: 2.2rem;
            font-weight: 400;
            margin: 30px 0;
            padding-bottom: 15px;
            text-align: center;
            width: 100%;
            span{
                font-weight: 700;
                font-style: italic;
            }
        }
    }
    &-cards{
        width: 100%;
        
        &-item{
            background-color: map-get($colors, secondary);
            border: map-get($colors, secondary) 4px solid;
            border-radius: 20px;
            box-shadow: 5px 5px 10px black;
            padding: 15px 30px;
            color: map-get($colors, quaternary);
            max-width: 280px;
            margin: 20px 15px;
            transition: all .3s ease-in-out;

            &:hover{
                border: map-get($colors, quaternary) 4px solid;
                transform: translateY(-10px);
            }
            p{
                color: map-get($colors, primary);
                font-weight: 600px;;
                margin: 0;
                margin-top: 20px;
                text-align:center;


                a{
                    color: map-get($colors, quaternary);
                    text-decoration: none;
                    font-weight: 900;
                    transition: all 1s linear;

                    &:hover{
                        font-style:italic;
                    }
                }
            }

            i{
                font-size: 5rem;
            }
        }
    }
}