.menu-header{
    background-color: map-get($colors, primary);
    padding: 20px 0;
    nav{
        div{
            ul{
                li{
                    margin: 20px auto;
                    a{
                        background-color: map-get($colors, secondary);
                        border-radius: 7px;
                        box-shadow: 5px 5px 10px black;
                        color: map-get($colors, primary);
                        font-size: 1.1rem;
                        font-weight: 800;
                        margin: 0 5px;
                        padding: 10px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}