.login{
    background-image: url(../resources/images/portada2.jpg);
    background-position: 60% 60%;
    padding: 110px;

    &-container{
        background-color: map-get($colors, secondary);
        border-radius: 5px;
        max-width: 500px;
        padding: 40px 80px;

        &-text{
            margin-bottom: 10px;

            h1, span{
                color: map-get($colors , primary);
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 15px;
            }

            span{
                font-size: 1rem;
                font-weight: 500;
            }
        }

        &-form{
            margin-bottom: 10px;

            input, label{
                font-family: 'Montserrat', sans-serif;
                font-size: .9rem;
                font-weight: 400;
                margin-bottom: 10px;
                padding: 10px 15px;
            }

            label{
                padding: 0;
                margin: 0;
                margin-bottom: 5px;
            }
            
            div{

                a{
                    color: map-get($colors, primary);
                    font-size: .9rem;
                    font-weight: 500;
                    margin-bottom: 5px;

                }

                input{
                    background-image: linear-gradient(-45deg, map-get($colors, tertiary) 0 calc(50% - 10px), map-get($colors, primary) calc(50% - 10px) calc(50% + 10px), map-get($colors, quaternary) calc(50% + 10px) 100%);
                    background-size: 290% 100%;
                    background-position: 100% 50%;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 15px;
                    margin-top: 10px;
                    margin-right: 5px;
                    padding: 10px 15px;
                    transition: all .5s;

                    &:hover{
                        background-position: 0% 50%; 
                        border-radius: 25px;
                        transition: .5s all;
                    }
                }
            }
        }
    }
}