.login{
    background-image: url(../resources/images/portada2.jpg);
    background-position: 60% 60%;
    padding: 110px;

    &-container{
        background-color: map-get($colors, secondary);
        border-radius: 5px;
        max-width: 500px;
        padding: 20px 40px;

        &-text{
            margin-bottom: 10px;

            h1, span{
                color: map-get($colors , primary);
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 15px;
            }

            span{
                font-size: 1.1rem;
                font-weight: 500;
            }
        }

        // Esto corresponde al formulario

        &-form{
            margin-bottom: 10px;

            //Esta parte es cada input con su respectivo label y párrafo de error
            &-item{
                position: relative;

                label{
                    font-family: 'Montserrat', sans-serif;
                    font-size: .9rem;
                    font-weight: 400;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 5px;
                }

                &-input{

                    input{
                        border: .5px solid black;
                        border-radius: 2px;
                        font-family: 'Montserrat', sans-serif;
                        font-size: .85rem;
                        font-weight: 400;
                        margin-bottom: 10px;
                        padding: 10px 15px;
                        transition: .1s linear all;
                        width: 100%;

                        &:focus{
                            border: 1px solid black
                        }
                    }

                    &-i{
                        font-size: 1.2rem;
                        opacity: 0;
                        position: absolute;
                        right: 10px;
                        top: 40px;
                        z-index:2;

                        &-active{
                            opacity: 1;
                        }
                    }
                    
                }

                &-p{
                    display:none;
                    font-family: 'Montserrat', sans-serif;
                    font-size: .8rem;
                    font-weight: 600;
                    padding: 0;
                    margin: 0;

                    &-active{
                        display: block;
                    }
                }

                //Esto corresponde a si el formulario está bien hecho

                &-okay{

                    .login-container-form-item-input{
                        
                        &-i{
                            color: lightgreen;
                            opacity: 1;
                        }
                    }
                }

                //Esto corresponde a si el formulario está mal hecho

                &-notOkay{

                    label{
                        color: red;
                    }

                    .login-container-form-item-input{

                        input{
                            border: .5px solid red;

                            &:focus{
                                border: .5px solid red
                            }
                        }

                        &-i{
                            color:red;
                            opacity: 1;
                        }
                    }
                }
            }

            //Esta parte es el checkbox

            &-item.form-checkbox{

                input{
                    margin-right: 5px;
                }

                a{
                    color: map-get($colors, primary);
                    font-size: .9rem;
                    font-weight: 500;
                    margin-bottom: 5px;
                }
            }

            // Esta parte pertenece al boton de submit

            &-item.form-submit{

                &-p{
                    background-color: lightgreen;
                    color: map-get($colors, secondary);
                    display: none;
                    font-size: .9rem;
                    font-weight: 700;
                    margin-bottom: 5px;
                    padding: 10px 20px;

                    &-active{
                        display:block
                    }
                }

                input{
                    background-image: linear-gradient(-45deg, map-get($colors, tertiary) 0 calc(50% - 10px), map-get($colors, primary) calc(50% - 10px) calc(50% + 10px), map-get($colors, quaternary) calc(50% + 10px) 100%);
                    background-size: 290% 100%;
                    background-position: 100% 50%;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1rem;
                    font-weight: 700;
                    margin: 10px 5px 15px 0;
                    padding: 10px 15px;
                    transition: all .5s;

                    &:hover{
                        background-position: 0% 50%; 
                        border-radius: 25px;
                        transition: .5s all;
                    }
                }
            }

            //Texto para pasar a otra pag

            &-text{
                a{
                    color:map-get($colors, primary);
                    font-weight: 600;
                }
            }
        }
    }
}